<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laptop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".testa"
            android:label="@string/title_activity_testa"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DELL"
            android:label="@string/title_activity_dell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LENOVO"
            android:label="@string/title_activity_lenovo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>